body{

text-align:center;

font-family:Arial;

}

#game{

display:grid;

grid-template-columns:repeat(4,100px);

gap:10px;

justify-content:center;

}

.card{

width:100px;

height:100px;

background:gray;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

font-size:20px;

border:1px solid black;

}